<div class="sign-in-container">
  <div class="sign-in-box">
    <h1>Upright</h1>
    <%= button_to "Sign in", "/auth/#{Upright.configuration.auth_provider}", method: :post, data: { turbo: false }, class: "btn" %>
  </div>
</div>
