<main>
  <h1>Nodes</h1>

  <div id="nodes-map" data-controller="nodes-map" data-nodes-map-nodes-value="<%= @nodes.map(&:to_leaflet).to_json %>"></div>

  <table>
    <thead>
      <tr>
        <th>Node</th>
        <th>Site</th>
      </tr>
    </thead>
    <tbody>
      <% @nodes.each do |node| %>
        <tr>
          <td><%= link_to node.hostname, node.url %></td>
          <td><%= node.site.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
