@layer components {
  .btn {
    background-color: var(--color-ink);
    border-radius: 0.25rem;
    border: 0;
    color: var(--color-ink-inverted);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: var(--text-x-small);
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 0.75em 1.5em;
    text-transform: uppercase;

    &:hover {
      background-color: var(--color-link);
      text-decoration: none;
    }
  }
}
