@layer components {
  .pagination {
    align-items: center;
    display: flex;
    gap: calc(var(--inline-space) * 2);
    justify-content: center;
    margin-top: calc(var(--block-space) * 2);
  }

  .pagination__prev,
  .pagination__next {
    background: var(--color-ink-lightest);
    border-radius: 0.125rem;
    border: var(--border);
    color: var(--color-ink);
    font-size: var(--text-x-small);
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 0.5em 1em;
    text-transform: uppercase;

    &:hover:not(.pagination__prev--disabled):not(.pagination__next--disabled) {
      background: var(--color-ink-lighter);
      text-decoration: none;
    }
  }

  .pagination__prev--disabled,
  .pagination__next--disabled {
    color: var(--color-ink-medium);
    cursor: not-allowed;
  }

  .pagination__info {
    color: var(--color-ink-dark);
    font-size: var(--text-small);
  }

  @media (max-width: 140ch) {
    .pagination {
      flex-wrap: wrap;
      gap: var(--block-space);
    }
  }
}
