<div class="time-picker" data-controller="time-picker" data-time-picker-range-value="24h">
  <button type="button"
          class="time-picker-btn"
          data-time-picker-target="button"
          data-range="1h"
          data-action="click->time-picker#select">
    1h
  </button>
  <button type="button"
          class="time-picker-btn"
          data-time-picker-target="button"
          data-range="6h"
          data-action="click->time-picker#select">
    6h
  </button>
  <button type="button"
          class="time-picker-btn active"
          data-time-picker-target="button"
          data-range="24h"
          data-action="click->time-picker#select">
    24h
  </button>
  <button type="button"
          class="time-picker-btn"
          data-time-picker-target="button"
          data-range="7d"
          data-action="click->time-picker#select">
    7d
  </button>
  <button type="button"
          class="time-picker-btn"
          data-time-picker-target="button"
          data-range="30d"
          data-action="click->time-picker#select">
    30d
  </button>
</div>
