<% if probes.empty? %>
  <div class="no-data-message">
    No probe data available for the selected filters.
  </div>
<% else %>
  <div class="uptime-bars">
    <div class="uptime-bars__header">
      <div>Probe</div>
      <div>Past 30 days</div>
      <div>Uptime</div>
    </div>

    <% probes.each do |probe| %>
      <%= render "upright/dashboards/uptime_probe_row", probe: probe, dates: date_range %>
    <% end %>
  </div>
<% end %>
