<main>
  <h1>Sites</h1>

  <div id="sites-map" data-controller="sites-map" data-sites-map-sites-value="<%= @sites.map(&:to_leaflet).to_json %>"></div>

  <table>
    <thead>
      <tr>
        <th>Host</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= link_to site.host, site.url %></td>
          <td><%= site.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
