<% if page.recordset.page_count > 1 %>
  <nav class="pagination">
    <% if page.first? %>
      <span class="pagination-prev disabled">Previous</span>
    <% else %>
      <%= link_to "Previous", url_for(request.query_parameters.merge(page: page.number - 1)), class: "pagination-prev" %>
    <% end %>

    <span class="pagination-info">
      Page <%= page.number %> of <%= page.recordset.page_count %>
    </span>

    <% if page.last? %>
      <span class="pagination-next disabled">Next</span>
    <% else %>
      <%= link_to "Next", url_for(request.query_parameters.merge(page: page.next_param)), class: "pagination-next" %>
    <% end %>
  </nav>
<% end %>
